@font-face {
    font-family: Outfit-Light;
    src: url(fonts/Outfit-Light.ttf);
}

@font-face {
    font-family: Outfit-Semibold;
    src: url(fonts/Outfit-SemiBold.ttf);
}

@font-face {
    font-family: YoungSerif;
    src: url(fonts/YoungSerif-Regular.ttf);
}

body{
    max-width: none;
    background-color: hsl(30, 54%, 90%);
    display: grid;
    place-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 2em;
}

.box1{
    width: 720px;
    background-color: hsl(0, 0%, 100%);
    padding: 5%;
    border-radius: 20px;
}

img{
    width: 720px;
    border-radius: 10px;
}

#font1{
    font-family: YoungSerif;
    letter-spacing: 1px;
    font-weight: 400;
}

#font2{
    font-family: Outfit-Light;
}

#font3{
    font-family: Outfit-Semibold;
    color: hsl(332, 51%, 32%);
}

.main-title{
    color: hsl(24, 5%, 18%);
}

.box2{
    background-color: hsl(330, 100%, 98%);
    margin: 5%;
    border-radius: 20px;
}

.midtitle{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.box3{
   border-top: 1px solid;
   border-bottom: 1px solid;
}

article{
    font-family: Outfit-Light;
    color: hsl(24, 5%, 18%);
    font-weight: 400;
}

table{
    width: inherit;
}

th, tr, td{
    border-bottom: solid 1px;
    width: inherit;
    line-height: 1%;
    padding: 5%;
}